extends master

block main-content
  h1=locals['blog-link']
    ul.blog-posts
      each article in articles
        li
          a(href=article.url)
            span.h2=article.title
          div.post-date.
            #{locals['posted-on']} #{article.date}